.contac-container h2{
	text-align: center;
	margin-top: 80px;
	font-size: 60px;
}
.redes-conteiner i{
	font-size: 100px;
	color: #8559a5;
}
.redes-conteiner{
	margin-bottom: 100px;
}
.redes-conteiner i:hover{
	color: #323232;
}